/* src/app/components/confirmation-modal/confirmation-modal.component.css */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.modal.d-block {
  display: block !important;
  z-index: 1050;
}