<!-- src/app/components/confirmation-modal/confirmation-modal.component.html -->
<div class="modal-backdrop fade show"></div>
<div class="modal fade show d-block" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-modal="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">{{ title }}</h5>
        <button type="button" class="btn-close" (click)="onCancel()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{ message }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn {{ cancelButtonClass }}" (click)="onCancel()">{{ cancelButtonText }}</button>
        <button type="button" class="btn {{ confirmButtonClass }}" (click)="onConfirm()">{{ confirmButtonText }}</button>
      </div>
    </div>
  </div>
</div>