/* src/app/auth/login/login.component.css */
/* Tu peux ajouter des styles spécifiques ici si nécessaire */
/* Par exemple, pour s'assurer que le conteneur prend de la hauteur */
/*  .row {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */