/* src/app/app.component.css */
/* Assurer que le footer reste en bas si le contenu est court */
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1; /* Permet au contenu principal de prendre l'espace disponible */
}